@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: disc;
  /* Default bullet points */
  padding-left: 20px;
}

.navbarUl .active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.tabBtn:hover .tabBtnText {
  scale: 1.1;
}

.sun-line {
  stroke-dasharray: 20;
  stroke-dashoffset: 20;
  animation: extendOutwards 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes extendOutwards {
  0% {
      stroke-dashoffset: 0;
      /* opacity: 1; */
  }
  70% {
      stroke-dashoffset: 20;
      opacity: 0;
  }
  100% {
      stroke-dashoffset: 20;
      opacity: 0;
  }
}

@keyframes bounceTwice {
  0%, 100% {
      transform: translateY(0);
      background: #ffffff;
      color: #22c55e;
  }
  2% {
      transform: translateY(-25px);
      background: #22c55e;
      color: white;
  }
  4% {
      transform: translateY(0);
      background: #22c55e;
      color: white;
      
  }
  6% {
      transform: translateY(-20px);
      background: #22c55e;
      color: white;
  }
  8% {
      transform: translateY(0);
      background: #22c55e;
      color: white;
  }
  10% {
      transform: translateY(-15px);
      background: #22c55e;
      color: white;
  }
  12% {
      transform: translateY(0);
      background: #22c55e;
      color: white;
      
  }
  14% {
      transform: translateY(-10px);
      background: #22c55e;
      color: white;
  }
  16% {
      transform: translateY(0);
      background: #22c55e;
      color: white;
  }
  18% {
      transform: translateY(0);
      background: #ffffff;
      color: #22c55e;
  }
}

.bounce-animation {
  animation: bounceTwice 10s ease-in-out  infinite;
  /* animation-iteration-count: 2; */
}